name: Build Next

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - name: Checkout Repository
        id: checkout_repository
        uses: stx-labs/actions/checkout@ed353a33594a2fa97ea6702d838e4a935cce374d

      - name: Install Node.js ${{ matrix.node-version }}
        id: install_node
        uses: stx-labs/actions/setup-node@ed353a33594a2fa97ea6702d838e4a935cce374d
        with:
          node-version: ${{ matrix.node-version }}

      - name: Yarn Build
        id: yarn_build
        run: |
          yarn install --frozen-lockfile
          yarn build
